html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Nunito Sans", sans-serif;
}

.app-header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.app-header--dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.app-header--light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.app-header__inner {
  padding: 25px 15px 30px 15px;
  width: 90%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-weight: 800;
}

.app-header__mode:hover {
  cursor: pointer;
}

.app-header__icon {
  margin-right: 20px;
}
